body{
	background: url("media/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	counter-reset: section;
}

body html{
 	width: 100%;
 	overflow-x: hidden;
 }


h3::before{
	counter-increment: section; content: "Technology " counter(section)": ";
}

h1{
	color: white;
	text-align: center;

}

h2{
	color: pink;
	margin-left: 20px;
}

h3{
	color: LightGreen;
}

.article>p,ul{
	color: LightBlue;
}

.nav{
	background-color: grey;
	width: 100%;
}

.nav-item{
	margin: 5px;
}
.btn-info{
	border-radius: 300px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}



#drop{
	background-color: tomato;
	border-color: tomato;
	border-radius: 300px;
	padding: 10px;
}

.dropdown-menu{
	font-family: 'Grenze Gotisch', cursive;
	text-decoration-line: underline;
	text-underline-position: under;
	border-radius: 5px;
	counter-reset: section;
}

.dropdown-menu>a{
	color: blue;
}

.dropdown-menu>a::before{
	counter-increment: section; content:counter(section)": ";
}
.dropdown-menu>a:hover{
	background-color: pink;
}

@media only screen and (max-width: 768px) {
.dropdown{
  width: 100%;
}
}




.article{
	border: 3px solid yellow;
	border-radius: 20px;
	
}

.container2{
	margin: 30px;
}

.row{
	margin: 20px;
}


@media only screen and (max-width: 768px) {
video{
  width: 100%;
}
}


footer{
	border: 1px solid white;
	padding: 7px;
	margin: 20px;
}

footer>pre{
	color: orange;
}
