body{
	background: url("media/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


 body,html{
 	width: 100%;
 	overflow-x: hidden;
 }


.bg-info{
	margin: 20px;
	padding: 4px;
}

.container2{
	margin: 30px;
}

.col>p{
	color: rgb(119, 136, 241);
	font-weight: bold;
}

.carousel-inner, .carousel-item, .carousel-caption{
	max-height:350px;
}

@media only screen and (max-width: 768px) {
	[class="carousel-caption"]{
		margin-top: 10px !important;
		bottom: 0 !important;
		font-size: 10px !important;
	}

}
@media only screen and (max-width: 768px) {
	[class="carousel-indicators"]{
		bottom: 0 !important;
	}
}

@media only screen and (max-width: 768px) {
	[class="nav"]{
	width: 100%;
	}
}

.row,.col{
 margin: 10px;
}



h2{
	color: white;
	text-align: center;
}

mark{
	background-color: yellow;
}

@media only screen and (max-width: 768px) {
	table,[class='quote']{
	max-height: auto;
	max-width: 800px;
	margin: 10px;	
}
}

table{
	font-weight: bold;
	background-color: pink;
	}

td,th{
	text-align: center;
	padding: 8px;
	vertical-align: bottom;
}
  tr:nth-child(even)
    {
	background-color: grey;
	}
thead{
	background-color: tomato;
}

tbody>tr:hover{
 background-color: red;
}

.quote{
 border-radius: 20px;
 font-family: 'Pacifico', cursive;
 text-decoration-line: underline;
 text-decoration-color: grey;
 text-underline-position: under;
 border: 15px solid transparent;
 border-image: url("media/boder.jpg") 30 round;
 border-image-repeat: no-repeat;
 padding: 10px;
}

 @media only screen and (max-width: 768px) {
	[class="card-body"]{
            margin: 10px;
            width: 18rem;
	}
}
.imagecard{
	height: 100%;

}

.skill{
	max-width: 400px;
	height: 200px;
}



footer{
	border: 2px solid LightBlue;
	color: white;
	padding: 10px;
	margin: 20px;
}

.btn-primary{
	margin-top: 5px;
}
